*{
    margin:0;
    padding: none;
}
#root{
    height:100vh;
    width:100%;
    background: linear-gradient(to bottom right, black, rgb(185, 51, 51));
    display: flex;
    align-items: center;
    justify-content: center;
}
#drum-machine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#display{
    width: 60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
    border: 2px solid black;
    color:red;
}


.drums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.drum-pad{
    width:100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(75, 74, 74);
    color: white;
}
.drum-pad:hover{
    background-color: red;
    color:white;
    cursor: pointer;
    transition: .5s ease;
}